/*
=====================================================================
*
*    Reset
*
* =================================================================== 
*/


* {
	word-wrap: break-word; 
}

select {
	word-wrap: normal !important;
}

html, a, form, area, div, table, dl, dt, dd, ul, li, dd, h1, h2, h3, h4, h5, h6, p{
	word-wrap: break-word;
}

body,div,pre,p,blockquote,
form,fieldset,input,textarea,select,option,
dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,
table,embed,object {
	margin:0;
	padding:0;
	vertical-align: baseline;
/* 	-webkit-font-smoothing: antialiased; */
	word-wrap: break-word;
}
th,td{
	margin:0;
	padding:0;
	vertical-align: inherit;
/* 	-webkit-font-smoothing: antialiased; */
	word-break: break-all;
}

h1,h2,h3,h4,h5,h6 {
font-style: normal;
font-weight:normal;
-webkit-font-smoothing: antialiased;
}
 
table 			{border-spacing:0;}
* html table 	{border-collapse:collapse;}
*:first-child+html table {border-collapse:collapse;}
caption,th 		{text-align:left;}
table,th,td,img {border:0;}
img,input {vertical-align:middle;}
img {vertical-align: bottom;}
q:before,q:after {content:'';}
ul {list-style: none;}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
	margin:0px;
	padding:0px;
	font-size:80%;
	line-height:1.7em;
	color:#797776;
}

/* for IE */
*{zoom:1;}

/*
=====================================================================
*
*    全ページ共通
*
* =================================================================== 
*/

a			{ color:#247bb0; text-decoration: none; }
a:hover,
a:focus		{ color:#2A8ECC; text-decoration: none;}

/*
=====================================================================
*
*    clearfix
*
* =================================================================== 
*/
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	
	font-size: 0;
	line-height: 0;
}
.clearfix{
	display:inline-block;
}
/* Hides from IE-mac */
* html .clearfix{
	height:1%;
}
.clearfix{
	display:block;
}
/* End hide from IE-mac */

			
			
			
