/* -------------------------------------------
 * initialize
 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}


article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
}

ul li {
	list-style: none;
}

input, select {
	vertical-align: middle;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}

.clearfix:before, .clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}


/* --------------------------------------------------
 * common styles
 */

body {
	color: #1A1A1A;
	font-family: 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3','Hiragino Kaku Gothic Pro','ãƒ¡ã‚¤ãƒªã‚ª',Meiryo,'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯',Osaka,sans-serif;
	/*font-size: 13px;*/
	line-height: 24px;
	letter-spacing: 0.2em;
}

a {
  text-decoration: none;
  color: #1A1A1A;
}

a:hover {
  color: #B3B3B3;
}

img {
	vertical-align: top;
}

/* --------------------------------------------------
 * layout
 */

.page-header h1 {
	position: absolute;
	left: 0;
	bottom: 50vh;
	width: 100%;
	text-align: center;
	z-index: 2;
	color: white;
	font-size: 2.6rem;
}

.lower-page-header h1 {
	padding: 83px 0 52px;
	text-align: center;
}

#Navigation {
	position: relative;
	width: 100%;
	padding: 25px 0;
	background-color: #FFFFFF;
	z-index: 10;
}

#Navigation ul {
	width: 679px;
	height: 36px;
	margin: 0 auto;
}

#Navigation ul li {
	float: left;
	margin: 0 13px;
}

#Navigation ul li a{
	font-size: 1.4rem;
}

#Navigation .scrollBtn {
	display: block;
	position: absolute;
	top: 35px;
	right: 50px;
	width: 26px;
	height: 15px;
}

#PageNavigation {
	position: fixed;
	top: 50%;
	right: 25px;
	height: 120px;
	margin-top: -52px;
	z-index: 20;
}

#PageNavigation li {
	width: 8px;
	height: 8px;
	margin: 0 0 16px;
	cursor: pointer;
	background: url(../img/header/indicator.png) no-repeat 0 0;
}

#PageNavigation li.on {
	background: url(../img/header/indicator-on.png) no-repeat 0 0;
}

.page-footer {
	padding: 90px 0 22px;
	background-color: #F7F8F6;
}

.page-footer .nav {
	width: 672px;
	margin: 0 auto;
	overflow: hidden;
}

.page-footer .nav h2 {
	margin: 0 0 60px;
	text-align: center;
}

.page-footer .nav ul {
	float: left;
	width: 162px;
	margin: 0 0 72px;
}

.page-footer .nav ul.first {
	margin-left: 24px;
}

.page-footer .nav ul li {
	height: 30px;
}

.page-footer .links {
	width: 484px;
	margin: 0 auto 93px;
	text-align: center;
	overflow: hidden;
}

.page-footer .links li {
	float: left;
}

.page-footer .copyright {
	text-align: center;
}
.container {
	text-align: left;
	width: 60%;
	margin: 0px auto;
	max-width: 679px;
}
.container .section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container h5 {
	font-size: 1.4rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}
.container h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}