<!-- @@master = ../layouts/default.html-->

<!-- @@block = title-->
<title>优客生活 - 首页</title>
<!-- @@close-->

<!-- @@block = content-->
<ul id="PageNavigation">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<div id="Concept">
  <p class="lead">优客生活成立于2016年</p>
  <p>
    引进日本QB创始人<br />小西国义先生的经验与管理系统，并代理日本最新植物染发产品<br />为国内民众提供新型的美发服务<br />公司将在成都开设第一家实体店，结合互联网工具<br />最终在全国开设2000家实体店。公司的理念是让美发回归服务本身<br />为消费者提供高品质的人性化服务
  </p>
</div>
<div id="Gallery" class="common-section">
  <h2>展示</h2>
  <div class="visual">
    <div class="inner clearfix">
      <img src="/gallery/img/image01l.jpg" alt="" width="100%" />
      <img src="/gallery/img/image02l.jpg" alt="" width="100%" />
      <img src="/gallery/img/image03l.jpg" alt="" width="100%" />
      <img src="/gallery/img/image04l.jpg" alt="" width="100%" />
      <img src="/gallery/img/image05l.jpg" alt="" width="100%" />
    </div>
  </div>
  <div class="more">
    <a href="#">更多 &gt;</a>
  </div>
</div>
<div id="News" class="common-section">
  <h2>新闻</h2>
  <dl>
    <a href="#">
      <dt>2016.01.18</dt>
      <dd> 优客生活app上线</dd>
    </a>
    <a href="#">
      <dt>2016.01.18</dt>
      <dd> 优客生活app上线优客生活app上线</dd>
    </a>
    <a href="#">
      <dt>2016.01.18</dt>
      <dd> 优客生活app上线优客生活app上线优客生活app上线</dd>
    </a>
    <a href="#">
      <dt>2016.01.18</dt>
      <dd> 优客生活app上线</dd>
    </a>
    <a href="#">
      <dt>2016.01.18</dt>
      <dd> 优客生活app上线优客生活app上线优客生活app上线</dd>
    </a>
  </dl>
  <div class="more">
    <a href="#">更多 &gt;</a>
  </div>
</div>
<div id="Salon" class="common-section">
  <h2>沙龙</h2>
  <div class="visual">
    <a href="#/"><img src="/img/salon/ashiya-img.png" alt="salon-ashiya-img" width="50%" /></a>
    <a href="#"><img src="/img/salon/kobe-img.png" alt="salon-kobe-img" width="50%" /></a>
    <a href="#"><img src="/img/salon/osaka-img.png" alt="salon-osaka-img" width="50%" /></a>
    <a href="#"><img src="/img/salon/hiroo-img.png" alt="salon-hiroo-img" width="50%" /></a>
    <a href="#"><img src="/img/salon/shinsaibashi-img.png" alt="salon-cocochie-img" width="100%" /></a>
  </div>
</div>
<div id="Company" class="common-section">
  <h2>公司</h2>
  <dl>
    <dt>公司名</dt>
    <dd>智泽东裕科技有限公司</dd>

    <dt>所在地</dt>
    <dd>成都市高新区天益街理想中心4栋1003</dd>

    <dt>注册资金</dt>
    <dd>3,000万元</dd>

    <dt>创建时间</dt>
    <dd>2016年3月15日</dd>

    <dt>服务内容</dt>
    <dd>美容室の経営・化粧品類の販売・コンサルタント業務</dd>

    <dt>团队成员</dt>
    <dd>店长　　　　老戴<br />老店长　　　老老戴<br />姥姥店长　　姥姥老戴<br />新店长　　　新老戴</dd>

    <dt>店铺地址</dt>
    <dd>成都大福区　　　大福分店<br />深圳宝安区　　　宝安分店<br />深圳南山区　　　南山分店<br /></dd>
  </dl>
  <ul class="links">
    <li><a href="#">联系我们</a></li>
    <li><a href="#">获取支持</a></li>
  </ul>
</div>
<!-- @@close-->