<div class="page-footer">
  <div class="nav">
    <h2><a href="/">LOGO</a></h2>
    <ul class="first">
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
    </ul>
    <ul>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
    </ul>
    <ul>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
    </ul>
    <ul>
      <li><a href="#">链接</a></li>
      <li><a href="#">链接</a></li>
    </ul>
  </div>
  <p class="copyright">Copyright © 2016 <a href="＃">智泽东裕科技有限公司</a></p>
</div>